*{box-sizing: border-box;}
h1{
  font-size: 110%;
  font-weight: bold;
}
h4{
  text-transform: uppercase;
  border-bottom: 2px solid black;
}
h2{
  border-bottom: 2px solid black;
}
h4{
  margin-bottom: 30px;
}
body{
  background: gray;
}
.container{
  max-width: 800px;
  margin: 0 auto;
  background: white;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.right-column{
  background: #f7f7f7;
  overflow: auto;
  width: 30%;
  float: left;
  padding: 20px;
}
.left-column {
  overflow: auto;
  width: 70%;
  float: left;
  padding: 20px;
}
@media (min-width: 600px){
  only left-column and right-column
}
